<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  	<parameter name="Browser" value="Firefox" />
  	<classes>
  		<class name="lessons.TestNG_TestCrossBrowser" />
  		<!--  注意package名字lessons必须有，否则会报错提示找不到这个类-->
  	</classes>
  </test> 
  <test name="Test1">
  	<parameter name="Browser" value="Chrome" />
  	<classes>
  		<class name="lessons.TestNG_TestCrossBrowser" />
  	</classes>
  </test>
 <listeners>
        <listener class-name="listener.ExtentTestNGITestListener"/>
    </listeners>
</suite> 
